canvas {
  left: calc(50vw - 1920px / 2);
  overflow: hidden;
  position: fixed;
  top: calc(50vh - 1080px / 2);
  z-index: 1;
}

input[type="file"] {
  display: none;
}

.ui.menu {
  position: relative;
  z-index: 2;
}
