:root {
  --canvas-width: 3840;
  --canvas-height: 2160;
}

html, body {
  height: 100%;
}

.ui.fluid.container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

#pixi {
  flex: 1;
  overflow: hidden;
}

#pixi canvas {
  width: 100%;
}
